@{
    ViewBag.Title = "ePrzychodnia";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>ePrzychodnia powstała w związku z koniecznością utworzenia projektu na przedmiot "Bazy Danych". </br>
   Założeniem projektu było umożliwienie pacjentom dostępu do swoich danych medycznych z domu.</br>
   Strona pozwala pacjentom na umówienie wizyty u lekarza, sprawdzenie historii swojej choroby oraz przepisanych leków wraz z dawkowaniem.</br>
    Poprzez stronę internetową lekarze wypełniają dokumentację związaną z badaniami i przepisanymi lekami.</br>

    </p>
