@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sala A1/1<br />
    Poznań, 61-138<br />
    Czynne 8:00 - 16:00
</address>

<address>
    <strong>Wykonanie:</strong> Tomasz Braczyński, Leszek Stencel<br />
   
</address>