@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>ePrzychodnia</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
